<h1>ngx-charts</h1>

<ngx-charts-line-chart
  [ngStyle]="{ '--label': label }"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="true"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [showRefLines]="true"
  [animations]="true"
  [xAxis]="true"
  [yAxis]="true"
  [yScaleMax]="30"
  [yScaleMin]="-10"
  [timeline]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="multi"
  [referenceLines]="referenceLines"  
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
  <ng-template #tooltipTemplate #seriesTooltipTemplate>
    <div class="tooltip-container">
      <div>
        <strong>OM Tested Average 2017-2019</strong>
        <div class="tooltip-container__badge">14.49%</div>
      </div>
      <div>
        <strong>OM Tested per year</strong>
        <p>2017 <strong>(10.50%)</strong></p>
        <p>2018 <strong>(14.61%)</strong></p>
        <p>2019 <strong>(18.35%)</strong></p>
      </div>
      <div>
        <strong>Weighted Average 2017-2019</strong>
        <p>Max <strong>(22.6%)</strong></p>
        <p>Upper <strong>(20.40%)</strong></p>
        <p>Med. <strong>(7.60%)</strong></p>
        <p>Lower <strong>(6.90%)</strong></p>
        <p>Min. <strong>(-6.10%)</strong></p>
      </div>
    </div>
  </ng-template>
</ngx-charts-line-chart>

